* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  width: 800px;
  padding: 20px;
}

.component__box {
  margin: 30px;
}

#root {
  display: flex;
  justify-content: center;
}

.post {
  width: 800px;
  display: flex;
  align-items: center;
  padding: 15px;
  border: 2px solid teal;
  margin-top: 15px;
  justify-content: space-between;
}
